{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
{% block content %}
    <div class="contrainer-fluid">
        <div><p>Are you sure you want to delete {{ user.first_name }}?</p></div>
        <div>
            <form method="post" action="">
                {% csrf_token %}
                <input type="submit" value="Delete" class="btn btn-danger">
                <a class="btn btn-primary" href="{% url 'employee_detail' user.id %}">Cancel</a>

            </form>

        </div>

    </div>


{% endblock content %}
</body>
</html>