{% load poll_extras %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>

    <!-- BOOTSTRAP -->
    <!--  head-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <!-- CUSTOM CSS-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">


    <!-- THIS IS FOR INSERTING THE LOGO/TITLE ICON IN EVERY PAGES -->
    <link rel="title icon" href="{% static 'images/employeemgt.png' %}">

    <!-- JS AND JAVASCRIPTS JQUERY -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'employee_list' %}">EmpMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'employee_list' %}">Employee <span class="badge badge-primary badge-pill">{{ users_count }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'polls_list' %}">Polls
                    <span class="badge badge-primary badge-pill">{{ polls_count }}</span></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'my_profile'%}">{{ request.user.first_name }}</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}

        </ul>




    </div>
</nav>
<br/>
<br/>
<br/>
<div class="container-fluid">
    {% block content %}
    {% endblock content %}
</div>
<br/>
</br>
<br/>
</br>

<!-- Footer -->
<div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h3>About Us</h3>
                    <p>We are BR technology teams working together in the technology fields since last decades.
                        We hav been providing services to the various satisfied clients in the private and government sectors
                        of Nepal......<a href="#">more</a>
                    </p>

                </div>
                <div class="col-md-4">
                    <h3 class="text-right">Connect with Us</h3>
                    <p class="text-right">
                        <a><img src="{% static 'images/facebook.png' %}" height="45" width="45"></a>
                        <a><img src="{% static 'images/twitter.png' %}" height="45" width="45"></a>
                        <a><img src="{% static 'images/instagram.png' %}" height="45" width="45"></a>
                        <a><img src="{% static 'images/linkedin.png' %}" height="45" width="45"></a>



                    </p>
{#                    <ul>#}
{#                        <li><a href="#">Lorem Ipsum</a></li>#}
{#                        <li><a href="#">Lorem Ipsum</a></li>#}
{#                        <li><a href="#">Lorem Ipsum</a></li>#}
{#                        <li><a href="#">Lorem Ipsum</a></li>#}
{#                    </ul>#}

{#                </div>#}
{#                <div class="col-md-2 list">#}
{#                    <ul>#}
{#                        <li><a href="#">Lorem Ipsum</a></li>#}
{#                        <li><a href="#">Lorem Ipsum</a></li>#}
{#                        <li><a href="#">Lorem Ipsum</a></li>#}
{#                        <li><a href="#">Lorem Ipsum</a></li>#}
{#                    </ul>#}

                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md">
                    <h5><strong>Contact Info</strong></h5>
                    <p><strong>Adress:</strong>Arva-13,POkhara,Nepal</p>
                    <p><strong>Email:</strong>brr.baral@gmail.com</p>
                    <p><strong>Tel.:</strong>+97798460*****</p>
                </div>
            </div>
        </div>
    </footer>
</div>


</body>
</html>